@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
/* ***************************navbar************************* */

.container-fluid {
  background-color: thistle;
  color: purple;
  height: 5em;
}

.navbar-light .navbar-brand {
  color: rgba(168, 45, 137, 0.9);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
  z-index: 3;
}

/* logo du jeu */
.logo_menu {
  width: 5em;
  height: 4em;
  filter: drop-shadow(-10px 1px 4px Grey);
  transform: rotate(-10deg);
}

#avatarJoueur2{
  border: black;
}

/* avatar du joueur */
.logo_admin {
  width: 5em;
  height: 4em;
  filter: drop-shadow(-5px 1px 4px gray);
}

.logo_avatar {
  width: 5em;
  height: 4em;
}

.logo_avatar:hover {
  transform: scale(1.5) translateZ(0);
}

#avatars {
  background-color: thistle;
}

.choixAvatar {
  background-color: thistle !important;
}

.deconec {
  justify-content: right;
}


/* *********************************************body********************************************** */

body{
    margin:0px;
    background-image: url(../asset/img/princesses_transparent_couleurs.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    /*background-color: lavenderblush;
    */
  }

  /* *********************************************main********************************************** */

  .containerCard {
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 10px;
}

main{
  display: flex;
  justify-content: center;
}

#ecranconnec{
  width:40rem;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 1rem;
}


  .infoGeneraleNomItem{
    font-weight: bold;
    flex: 1 1 0px;
  }

  .infoGeneraleDef{
    font-style: italic;
    flex: 1 1 0px;
    text-align:center;

  }

  .infoChevron{
    flex: 1 1 0px;
    text-align:end;
  }

  
/* pour ajuster le menu avatars à droite de la page: */

  .dropdown-pull-right {
    float: right !important;
    right: 0;
    left: auto;
  }
  
  .dropdown-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
  }

  .dropdown-toggle::after {
    content: none !important;
  }

